@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,500&display=swap');
.containerCart{
    background-color: #937EBF;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}
.titCart{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.tableCart{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.itemCart{
    border-bottom: 1px solid #937EBF;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}
.imgCart > img{
    width: 100px;
    margin-right: 2rem;
}
.titleCart{
    margin-right: 2rem;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
}
.quantityCart{
    margin-right: 2rem;
    margin-top: 1rem;
}
.priceCart{
    margin-right: 2rem;
    margin-top: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
.buttonsCart{
    margin-bottom: 2rem;
    margin-top: 1.4rem;
    cursor: pointer;
}
.subTotal{
    text-align: end;
    padding: 20px;
}
.priceTotal{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.btn-vaciar{
    background-color: #937EBF;
    border: 1px solid #fff;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    cursor: pointer;
    margin-right: 1rem;
    width: 180px;
}
.btn-compra{
    background-color: #937EBF;
    border: 1px solid #fff;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    cursor: pointer;
    width: 180px;
}
.btn-cart{
    justify-content: space-evenly;
}