.container-cart{
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.bubble-counter{
    width: 23px;
    height: 23px;
    border-radius: 50%;
    position: absolute;
    top: 18%;
    right: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #937EBF;
    font-size: 18px;
    color: #fff;
    text-align: center;
}
.bubble-counter h6{
    margin-left: 2px;
}