@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,800;1,500&display=swap');
.contador{
    display: flex;
    font-family: 'Montserrat', sans-serif;
}
.itemCount{
    display: flex;
}
.btn-add{
    background: transparent;
    border: 2px solid #937EBF;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    margin-right: 0.9rem;
    color: #937EBF;
    cursor: pointer;
}

.btn-remove{
    background: transparent;
    border: 2px solid #937EBF;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    margin-right: 0.9rem;
    color: #937EBF;
    cursor: pointer;
}

.btn-add-cart{
    background-color: #937EBF;
    border: 1px solid #937EBF;
    color: #fff;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    width: 150px;
    height: 30px;
    cursor: pointer;
}